# COVID-19 Data Pipeline

Combine COVID-19 data realted to healthcare from various sources into one dataframe.

***Overwrite daily update data and rerun this code.***

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date, timedelta
pd.set_option('max_columns', None)

cases, recovered, death data **(daily update)**
https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset

Mobility data **(daily update)**
https://www.google.com/covid19/mobility/

test data **(daily update)**
https://ourworldindata.org/grapher/full-list-total-tests-for-covid-19

oxford data (stringency) **(daily update)**
https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker


Doctors
https://www.who.int/data/gho/data/indicators/indicator-details/GHO/medical-doctors-(per-10-000-population)

Beds
https://www.who.int/data/gho/data/indicators/indicator-details/GHO/hospital-beds-(per-10-000-population)

Nurses
https://www.who.int/data/gho/data/indicators/indicator-details/GHO/nursing-and-midwifery-personnel-(per-10-000-population)


Population 
https://population.un.org/wpp/Download/Standard/CSV/

In [2]:
#case data
df_case = pd.read_csv('time_series_covid_19_confirmed.csv')

#recovered data
df_rec = pd.read_csv('time_series_covid_19_recovered.csv')

#death data
df_death = pd.read_csv('time_series_covid_19_deaths.csv')

#test data
df_test = pd.read_csv('full-list-total-tests-for-covid-19.csv')

#mobility changes data
df_mob = pd.read_csv('Global_Mobility_Report.csv')

#oxford data
df_ox = pd.read_csv('OxCGRT_latest.csv')

#doctors data
df_doc = pd.read_csv('doctors.csv')

#nurses data
df_nurse = pd.read_csv('nurse.csv')

#beds data
df_bed = pd.read_csv('beds.csv')

#population data
df_pop2 = pd.read_csv('historic-and-un-pop-projections-by-age.csv')

df_cov = pd.read_csv('covid_data.csv') #this is Omdena custom dataset for selected country

df_nurses = pd.read_csv('Oxford_Mobility_3Health_Infrstructure_RecoveryCases_5_07_2020_latests (2).csv', usecols=['CountryName', 'Nurses_per_10000'])

C:\Users\Edwardus\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#transform df_case

df_case = df_case.drop(['Lat','Long'], axis=1) #drop unecessary columns
#groupby countries, and transpose to make countries as columns
df_case = pd.DataFrame(df_case.groupby(['Country/Region']).sum().T) 
df_case = df_case.reset_index()
df_case = pd.melt(df_case, id_vars='index', value_vars=df_case.columns[1:], value_name='total_case', var_name='country') #melt countries into one column
df_case.tail()

         index   country  total_case
34023  7/16/20  Zimbabwe        1362
34024  7/17/20  Zimbabwe        1420
34025  7/18/20  Zimbabwe        1478
34026  7/19/20  Zimbabwe        1611
34027  7/20/20  Zimbabwe        1713

In [4]:
#transform df_rec
df_rec = df_rec.drop(['Lat','Long'], axis=1) #drop unecessary columns
#groupby countries, and transpose to make countries as columns
df_rec = pd.DataFrame(df_rec.groupby(['Country/Region']).sum().T) 
df_rec = df_rec.reset_index()
df_rec = pd.melt(df_rec, id_vars='index', value_vars=df_rec.columns[1:], value_name='total_recovered', var_name='country') #melt countries into one column
df_rec.tail()

         index   country  total_recovered
34023  7/16/20  Zimbabwe              425
34024  7/17/20  Zimbabwe              438
34025  7/18/20  Zimbabwe              439
34026  7/19/20  Zimbabwe              472
34027  7/20/20  Zimbabwe              472

In [5]:
#transform df_death
df_death = df_death.drop(['Lat','Long'], axis=1) #drop unecessary columns
#groupby countries, and transpose to make countries as columns
df_death = pd.DataFrame(df_death.groupby(['Country/Region']).sum().T) 
df_death = df_death.reset_index()
df_death = pd.melt(df_death, id_vars='index', value_vars=df_death.columns[1:], value_name='total_death', var_name='country') #melt countries into one column
df_death.tail()

         index   country  total_death
34023  7/16/20  Zimbabwe           23
34024  7/17/20  Zimbabwe           24
34025  7/18/20  Zimbabwe           25
34026  7/19/20  Zimbabwe           25
34027  7/20/20  Zimbabwe           26

In [6]:
#merge cases, recovered, death data into 1
df = pd.merge(df_case, df_rec, how='inner', left_on=['index','country'], right_on=['index','country'])
df = pd.merge(df, df_death, how='inner', left_on=['index','country'], right_on=['index','country'])

df

         index      country  total_case  total_recovered  total_death
0      1/22/20  Afghanistan           0                0            0
1      1/23/20  Afghanistan           0                0            0
2      1/24/20  Afghanistan           0                0            0
3      1/25/20  Afghanistan           0                0            0
4      1/26/20  Afghanistan           0                0            0
...        ...          ...         ...              ...          ...
34023  7/16/20     Zimbabwe        1362              425           23
34024  7/17/20     Zimbabwe        1420              438           24
34025  7/18/20     Zimbabwe        1478              439           25
34026  7/19/20     Zimbabwe        1611              472           25
34027  7/20/20     Zimbabwe        1713              472           26

[34028 rows x 5 columns]

In [7]:
#create daily data
df['daily_cases'] = df['total_case'].diff()
df['daily_recovered'] = df['total_recovered'].diff()
df['daily_death'] = df['total_death'].diff()

#create stability column
df['stability'] = (df['total_recovered'] - df['total_death']) / df['total_case']

df = df.fillna(0)
df['daily_cases'] = df['daily_cases'].abs()
df['daily_recovered'] = df['daily_recovered'].abs()
df['daily_death'] = df['daily_death'].abs()

#create existing cases column
df['existing_case'] = df['total_case'] - df['total_recovered'] - df['total_death']


df

,index,country,total_case,total_recovered,total_death,daily_cases,daily_recovered,daily_death,stability,existing_case
0,1/22/20,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0
1,1/23/20,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0
2,1/24/20,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0
3,1/25/20,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0
4,1/26/20,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...
34023,7/16/20,Zimbabwe,1362,425,23,273.0,30.0,3.0,0.295154,914
34024,7/17/20,Zimbabwe,1420,438,24,58.0,13.0,1.0,0.291549,958
34025,7/18/20,Zimbabwe,1478,439,25,58.0,1.0,1.0,0.280108,1014
34026,7/19/20,Zimbabwe,1611,472,25,133.0,33.0,0.0,0.277467,1114
34027,7/20/20,Zimbabwe,1713,472,26,102.0,0.0,1.0,0.260362,1215

In [8]:
#select start date
df['index'] = pd.to_datetime(df['index']).dt.date
df = df.loc[df['index']>=date(2020, 1, 23)] #beacuse we use diff, every countries will have high number on 22 Jan
#df = df.reset_index()
df.head()

,index,country,total_case,total_recovered,total_death,daily_cases,daily_recovered,daily_death,stability,existing_case
1,2020-01-23,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0
2,2020-01-24,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0
3,2020-01-25,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0
4,2020-01-26,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0
5,2020-01-27,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0

In [9]:
df['recovered_rate'] = df['total_recovered']/df['total_case']
df['death_rate'] = df['total_death']/df['total_case']
df = df.fillna(0)

df

C:\Users\Edwardus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Edwardus\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,index,country,total_case,total_recovered,total_death,daily_cases,daily_recovered,daily_death,stability,existing_case,recovered_rate,death_rate
1,2020-01-23,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0,0.000000,0.000000
2,2020-01-24,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0,0.000000,0.000000
3,2020-01-25,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0,0.000000,0.000000
4,2020-01-26,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0,0.000000,0.000000
5,2020-01-27,Afghanistan,0,0,0,0.0,0.0,0.0,0.000000,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
34023,2020-07-16,Zimbabwe,1362,425,23,273.0,30.0,3.0,0.295154,914,0.312041,0.016887
34024,2020-07-17,Zimbabwe,1420,438,24,58.0,13.0,1.0,0.291549,958,0.308451,0.016901
34025,2020-07-18,Zimbabwe,1478,439,25,58.0,1.0,1.0,0.280108,1014,0.297023,0.016915
34026,2020-07-19,Zimbabwe,1611,472,25,133.0,33.0,0.0,0.277467,1114,0.292986,0.015518
34027,2020-07-20,Zimbabwe,1713,472,26,102.0,0.0,1.0,0.260362,1215,0.275540,0.015178

In [10]:
df_test['Date'] = pd.to_datetime(df_test['Date']).dt.date
df_test = df_test.drop('Entity', axis=1)
df_test.head()

  Code        Date  Total tests
0  ARG  2020-04-08        13330
1  ARG  2020-04-09        14850
2  ARG  2020-04-10        16379
3  ARG  2020-04-11        18027
4  ARG  2020-04-13        19758

In [11]:
df_mob = pd.DataFrame(df_mob.groupby(['country_region', 'date']).mean())
df_mob = df_mob.reset_index()
df_mob['date'] = pd.to_datetime(df_mob['date']).dt.date
df_mob.head()

,country_region,date,census_fips_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,Afghanistan,2020-02-15,NaN,-9.0,-10.0,0.0,-2.0,-28.0,5.0
1,Afghanistan,2020-02-16,NaN,3.0,11.0,1.0,10.0,4.0,0.0
2,Afghanistan,2020-02-17,NaN,6.0,11.0,2.0,9.0,5.0,-1.0
3,Afghanistan,2020-02-18,NaN,3.0,5.0,3.0,9.0,6.0,-1.0
4,Afghanistan,2020-02-19,NaN,-1.0,3.0,1.0,0.0,5.0,1.0

In [12]:
df_ox['Date'] = pd.to_datetime(df_ox['Date'], format='%Y%m%d').dt.date
df_ox.head()

,CountryName,CountryCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,2020-01-01,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,2020-01-02,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,2020-01-03,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,2020-01-04,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,2020-01-05,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_ox_test = df_ox.merge(df_test, how='left', left_on=['CountryCode', 'Date'], right_on=['Code', 'Date'])
df_ox_test = df_ox_test.drop('Code', axis=1)
df_ox_test.head()

,CountryName,CountryCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,...,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay,Total tests
0,Aruba,ABW,2020-01-01,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,Aruba,ABW,2020-01-02,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,Aruba,ABW,2020-01-03,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,Aruba,ABW,2020-01-04,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,Aruba,ABW,2020-01-05,0.0,NaN,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [14]:
#make sure all country names are same

df.country.replace('US', value='United States', inplace=True)
df.country.replace('Korea, South', value='South Korea', inplace=True)

df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'South Korea',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'United States',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [15]:
df_pop2 = df_pop2[df_pop2['Year']==2019]
df_pop2 = df_pop2[['Entity', 'Under age 15', 'Under age 25.1', '25-64 years', '65+ years.1']]
df_pop2.columns = ['country', 'population_under_15', 'population_under_25', 'population_25-64', 'population_above_65']
df_pop2.head(14)

,country,population_under_15,population_under_25,population_25-64,population_above_65
69,Afghanistan,1.562760e+07,2.374664e+07,1.247684e+07,985527.0
220,Africa,5.335586e+08,7.871631e+08,4.856259e+08,47249696.0
371,Albania,4.971750e+05,9.476020e+05,1.578176e+06,412650.0
522,Algeria,1.264392e+07,1.860149e+07,2.124181e+07,2835718.0
673,Angola,1.474298e+07,2.090380e+07,1.008187e+07,801895.0
824,Antigua and Barbuda,2.425000e+04,4.130900e+04,5.500900e+04,7766.0
975,Argentina,1.104389e+07,1.802434e+07,2.189936e+07,5178085.0
1126,Armenia,5.899730e+05,9.448830e+05,1.647930e+06,343893.0
1277,Aruba,1.846400e+04,3.335700e+04,5.774800e+04,14948.0
1428,Asia,1.089555e+09,1.790186e+09,2.398822e+09,395798657.0
1579,Australia,4.825114e+06,7.926559e+06,1.314965e+07,4012424.0
1730,Australia/New Zealand,5.770029e+06,9.504399e+06,1.559894e+07,4777702.0
1881,Austria,1.238167e+06,2.152666e+06,4.896007e+06,1717528.0
2032,Azerbaijan,2.335737e+06,3.729043e+06,5.634596e+06,650936.0

In [16]:
df_cov['Country'] = df_cov['Country'].str.strip()
df_pop2['country'] = df_pop2['country'].str.strip()

In [17]:
df_final = df_cov.merge(df_pop2, how='left', left_on='Country', right_on='country')
df_final

,Country,Class,Population_Density_per_sq_km,Population_2019,Life_Expectancy_years,Health_Expenditure_per_GDP,Health_Expenditure_per_capita_PPP_USD$,Physicians_per_10000_population,Critical_Beds_per_10000_Population,Probability_of_Dying_between_30_70,Health_Access_Quality_Index_2016 (over 100),Basic_Sanitization_Service_%People,Adult_Mortality_Rate_per_1000_population_2016 (per 1000),country,population_under_15,population_under_25,population_25-64,population_above_65
0,Argentina,Upper middle income,16.360,44780677,76.667,9.124315,1916.504150,39.901,50.00,15.8,68.1,94.26,111.00,Argentina,11043891.0,18024335.0,21899361.0,5178085.0
1,Australia,High income,3.281,25203198,83.436,9.252000,4816.153809,36.778,38.40,9.1,95.9,99.99,61.00,Australia,4825114.0,7926559.0,13149653.0,4012424.0
2,Bangladesh,Low income,1253.000,163046161,72.591,2.274249,94.302017,5.809,7.70,21.6,47.6,48.23,130.00,Bangladesh,45951368.0,77767706.0,81650174.0,8648040.0
3,Brazil,Upper middle income,25.250,211049527,75.881,9.467477,1472.230957,21.643,22.00,16.6,63.8,88.29,143.00,Brazil,44615446.0,78550275.0,114290789.0,19551653.0
4,Canada,High income,4.114,37411047,82.434,10.734000,4928.627930,23.105,25.00,9.8,93.8,99.29,63.00,Canada,6017340.0,10330514.0,20298257.0,6651040.0
5,Costa Rica,Upper middle income,98.860,5047561,80.279,7.328796,1262.164307,28.939,11.30,11.5,73.7,97.82,97.00,Costa Rica,1056983.0,1827971.0,2667954.0,503459.0
6,Denmark,High income,136.000,5771876,80.898,10.470000,5509.995605,40.099,25.00,11.3,92.1,99.60,65.00,Denmark,946493.0,1667242.0,2952774.0,1155208.0
7,Ecuador,Upper middle income,69.950,17373662,77.010,8.257429,958.857666,20.368,15.00,13.0,62.2,87.99,114.00,Ecuador,4770441.0,7748697.0,8055212.0,1296535.0
8,Egypt,Lower middle income,100.800,100388073,71.990,5.287637,613.808777,4.521,15.60,27.7,58.0,94.19,165.00,Egypt,33586913.0,50244142.0,45596058.0,5328545.0
9,Germany,High income,239.600,83517045,81.326,11.246835,5922.638184,42.488,80.00,12.1,92.0,99.23,69.00,Germany,10798399.0,19114645.0,45273244.0,18050750.0
10,Hungary,Upper middle income,107.000,9684679,76.875,6.593000,1979.403320,34.075,70.20,23.0,82.1,97.99,126.00,Hungary,1377765.0,2402432.0,5352107.0,1900822.0
11,India,Lower middle income,459.600,1366417754,69.656,3.534960,253.322418,8.571,5.30,23.3,41.2,59.54,178.00,India,369543688.0,616509339.0,665125169.0,87103005.0
12,Indonesia,Lower middle income,149.400,270625568,71.716,2.989054,367.941406,4.269,10.40,26.4,44.5,73.13,176.00,Indonesia,71911660.0,117376086.0,137070080.0,15090316.0
13,Italy,High income,205.900,60550075,83.512,8.813000,3619.697998,39.774,31.80,9.5,94.9,98.77,54.00,Italy,7898403.0,13560643.0,31672372.0,13983510.0
14,Japan,High income,348.000,126860301,84.629,10.918000,4563.457031,24.115,130.50,8.4,94.1,99.89,51.00,Japan,16225400.0,28020722.0,63494464.0,35339559.0
15,Kenya,Low income,92.370,52573973,66.699,4.802543,158.155655,1.565,14.00,13.4,39.5,29.05,219.00,Kenya,20687827.0,31347991.0,19403298.0,1463502.0
16,Malaysia,Upper middle income,97.250,31949777,76.156,3.859398,1138.964111,15.358,18.60,17.2,68.1,99.57,123.00,Malaysia,7725057.0,13401410.0,16863078.0,2189967.0
17,Pakistan,Lower middle income,280.900,216565318,67.273,2.898634,160.558456,9.801,6.00,24.7,37.6,59.87,159.00,Pakistan,70634420.0,108832501.0,86527757.0,9236184.0
18,Philippines,Lower middle income,362.600,108116615,71.231,4.446408,371.742340,6.004,5.00,26.8,51.2,76.53,194.00,Philippines,33768710.0,54068275.0,48586805.0,5451230.0
19,Romania,Upper middle income,84.130,19364557,76.054,5.157888,1367.791870,29.807,62.70,21.4,78.3,84.31,135.00,Romania,2961937.0,5070185.0,10766417.0,3646758.0
20,Senegal,Lower middle income,84.640,16296364,67.941,4.134064,143.091934,0.691,3.00,18.1,31.1,51.47,185.00,Senegal,7121786.0,10367572.0,5868534.0,507753.0
21,Serbia,Upper middle income,100.300,8772235,76.001,8.433958,1382.162598,31.131,56.54,19.1,77.2,97.57,103.00,NaN,NaN,NaN,NaN,NaN
22,South Africa,Upper middle income,48.270,58558270,82.797,8.113118,1097.819214,9.054,28.00,26.2,49.7,75.75,301.00,South Africa,16587188.0,26884914.0,27920969.0,3259214.0
23,Sweden,High income,24.460,10036379,76.699,11.037000,5699.606934,39.840,22.20,9.1,95.5,99.30,52.00,Sweden,1783847.0,2878872.0,5144856.0,2029407.0
24,Tunisia,Upper middle income,75.280,11694719,77.691,7.232457,863.290772,13.025,22.90,16.1,69.4,90.92,91.00,Tunisia,2837350.0,4464397.0,6311418.0,1007353.0
25,Turkey,Upper middle income,108.400,83429615,78.862,4.172000,1180.641846,18.492,28.10,16.1,74.4,97.30,104.00,Turkey,20061829.0,33575199.0,42261601.0,7125005.0
26,United States,High income,35.970,329064917,75.400,16.937000,10246.138670,26.120,27.70,14.6,88.7,99.97,114.00,United States,61677002.0,105132505.0,170661450.0,53299155.0
27,Vietnam,Lower middle income,311.100,96462106,61.490,5.532128,375.643250,8.281,25.60,17.1,60.3,83.52,125.00,Vietnam,22401234.0,36206900.0,53700359.0,7521802.0
28,Singapore,High income,8292.000,5804337,83.620,4.440000,4269.958008,22.936,24.00,9.3,90.6,100.00,51.36,Singapore,851267.0,1566005.0,3463684.0,838415.0
29,South Korea,High income,526.800,51225308,83.030,8.102000,2980.157959,23.608,122.70,7.8,90.3,100.00,60.81,South Korea,6814435.0,12777306.0,30856060.0,7705872.0
30,United Kingdom,High income,NaN,66959016,NaN,NaN,NaN,27.563,28.00,10.9,84.6,NaN,NaN,United Kingdom,11992488.0,19602952.0,34772280.0,12583784.0

In [18]:
df = df.merge(df_mob, how='left', left_on=['index','country'], right_on=['date','country_region'])
df.head(26)

,index,country,total_case,total_recovered,total_death,daily_cases,daily_recovered,daily_death,stability,existing_case,...,death_rate,country_region,date,census_fips_code,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-01-23,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-24,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-25,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-26,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-27,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-01-28,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2020-01-29,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020-01-30,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2020-01-31,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2020-02-01,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2020-02-02,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020-02-03,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2020-02-04,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2020-02-05,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2020-02-06,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2020-02-07,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2020-02-08,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2020-02-09,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2020-02-10,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2020-02-11,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2020-02-12,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2020-02-13,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2020-02-14,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2020-02-15,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,Afghanistan,2020-02-15,NaN,-9.0,-10.0,0.0,-2.0,-28.0,5.0
24,2020-02-16,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,Afghanistan,2020-02-16,NaN,3.0,11.0,1.0,10.0,4.0,0.0
25,2020-02-17,Afghanistan,0,0,0,0.0,0.0,0.0,0.0,0,...,0.0,Afghanistan,2020-02-17,NaN,6.0,11.0,2.0,9.0,5.0,-1.0

In [19]:
df_2 = df.merge(df_ox_test, how='left', left_on=['index','country'], right_on=['Date','CountryName'])

df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33840 entries, 0 to 33839
Data columns (total 64 columns):
index                                                 33840 non-null object
country                                               33840 non-null object
total_case                                            33840 non-null int64
total_recovered                                       33840 non-null int64
total_death                                           33840 non-null int64
daily_cases                                           33840 non-null float64
daily_recovered                                       33840 non-null float64
daily_death                                           33840 non-null float64
stability                                             33840 non-null float64
existing_case                                         33840 non-null int64
recovered_rate                                        33840 non-null float64
death_rate                                            33840 non-null float64
country_region                                        19647 non-null object
date                                                  19647 non-null object
census_fips_code                                      157 non-null float64
retail_and_recreation_percent_change_from_baseline    19442 non-null float64
grocery_and_pharmacy_percent_change_from_baseline     19403 non-null float64
parks_percent_change_from_baseline                    19403 non-null float64
transit_stations_percent_change_from_baseline         19484 non-null float64
workplaces_percent_change_from_baseline               19601 non-null float64
residential_percent_change_from_baseline              19237 non-null float64
CountryName                                           28440 non-null object
CountryCode                                           28440 non-null object
Date                                                  28440 non-null object
C1_School closing                                     28097 non-null float64
C1_Flag                                               18688 non-null float64
C2_Workplace closing                                  28102 non-null float64
C2_Flag                                               16941 non-null float64
C3_Cancel public events                               28096 non-null float64
C3_Flag                                               19217 non-null float64
C4_Restrictions on gatherings                         28082 non-null float64
C4_Flag                                               17697 non-null float64
C5_Close public transport                             28096 non-null float64
C5_Flag                                               12234 non-null float64
C6_Stay at home requirements                          28098 non-null float64
C6_Flag                                               15334 non-null float64
C7_Restrictions on internal movement                  28085 non-null float64
C7_Flag                                               14994 non-null float64
C8_International travel controls                      28095 non-null float64
E1_Income support                                     28047 non-null float64
E1_Flag                                               12211 non-null float64
E2_Debt/contract relief                               28084 non-null float64
E3_Fiscal measures                                    28010 non-null float64
E4_International support                              28027 non-null float64
H1_Public information campaigns                       28086 non-null float64
H1_Flag                                               23924 non-null float64
H2_Testing policy                                     28090 non-null float64
H3_Contact tracing                                    28058 non-null float64
H4_Emergency investment in healthcare                 28004 non-null float64
H5_Investment in vaccines                             28001 non-null float64
M1_Wildcard                                           0 non-null float64
ConfirmedCases                                        22704 non-null float64
ConfirmedDeaths                                       22704 non-null float64
StringencyIndex                                       28094 non-null float64
StringencyIndexForDisplay                             28237 non-null float64
StringencyLegacyIndex                                 28097 non-null float64
StringencyLegacyIndexForDisplay                       28238 non-null float64
GovernmentResponseIndex                               28058 non-null float64
GovernmentResponseIndexForDisplay                     28205 non-null float64
ContainmentHealthIndex                                28068 non-null float64
ContainmentHealthIndexForDisplay                      28215 non-null float64
EconomicSupportIndex                                  28039 non-null float64
EconomicSupportIndexForDisplay                        28188 non-null float64
Total tests                                           3732 non-null float64
dtypes: float64(53), int64(4), object(7)
memory usage: 16.8+ MB

In [20]:
df_2 = df_2.drop(['country_region', 'date', 'CountryName', 'CountryCode', 'Date', 'ConfirmedCases', 'ConfirmedDeaths'], axis=1)
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33840 entries, 0 to 33839
Data columns (total 57 columns):
index                                                 33840 non-null object
country                                               33840 non-null object
total_case                                            33840 non-null int64
total_recovered                                       33840 non-null int64
total_death                                           33840 non-null int64
daily_cases                                           33840 non-null float64
daily_recovered                                       33840 non-null float64
daily_death                                           33840 non-null float64
stability                                             33840 non-null float64
existing_case                                         33840 non-null int64
recovered_rate                                        33840 non-null float64
death_rate                                            33840 non-null float64
census_fips_code                                      157 non-null float64
retail_and_recreation_percent_change_from_baseline    19442 non-null float64
grocery_and_pharmacy_percent_change_from_baseline     19403 non-null float64
parks_percent_change_from_baseline                    19403 non-null float64
transit_stations_percent_change_from_baseline         19484 non-null float64
workplaces_percent_change_from_baseline               19601 non-null float64
residential_percent_change_from_baseline              19237 non-null float64
C1_School closing                                     28097 non-null float64
C1_Flag                                               18688 non-null float64
C2_Workplace closing                                  28102 non-null float64
C2_Flag                                               16941 non-null float64
C3_Cancel public events                               28096 non-null float64
C3_Flag                                               19217 non-null float64
C4_Restrictions on gatherings                         28082 non-null float64
C4_Flag                                               17697 non-null float64
C5_Close public transport                             28096 non-null float64
C5_Flag                                               12234 non-null float64
C6_Stay at home requirements                          28098 non-null float64
C6_Flag                                               15334 non-null float64
C7_Restrictions on internal movement                  28085 non-null float64
C7_Flag                                               14994 non-null float64
C8_International travel controls                      28095 non-null float64
E1_Income support                                     28047 non-null float64
E1_Flag                                               12211 non-null float64
E2_Debt/contract relief                               28084 non-null float64
E3_Fiscal measures                                    28010 non-null float64
E4_International support                              28027 non-null float64
H1_Public information campaigns                       28086 non-null float64
H1_Flag                                               23924 non-null float64
H2_Testing policy                                     28090 non-null float64
H3_Contact tracing                                    28058 non-null float64
H4_Emergency investment in healthcare                 28004 non-null float64
H5_Investment in vaccines                             28001 non-null float64
M1_Wildcard                                           0 non-null float64
StringencyIndex                                       28094 non-null float64
StringencyIndexForDisplay                             28237 non-null float64
StringencyLegacyIndex                                 28097 non-null float64
StringencyLegacyIndexForDisplay                       28238 non-null float64
GovernmentResponseIndex                               28058 non-null float64
GovernmentResponseIndexForDisplay                     28205 non-null float64
ContainmentHealthIndex                                28068 non-null float64
ContainmentHealthIndexForDisplay                      28215 non-null float64
EconomicSupportIndex                                  28039 non-null float64
EconomicSupportIndexForDisplay                        28188 non-null float64
Total tests                                           3732 non-null float64
dtypes: float64(51), int64(4), object(2)
memory usage: 15.0+ MB

In [21]:
df_final = df_final.merge(df_2, how='left', left_on='Country', right_on='country')
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5580 entries, 0 to 5579
Data columns (total 75 columns):
Country                                                     5580 non-null object
Class                                                       5580 non-null object
Population_Density_per_sq_km                                5400 non-null float64
Population_2019                                             5580 non-null int64
Life_Expectancy_years                                       5400 non-null float64
Health_Expenditure_per_GDP                                  5400 non-null float64
Health_Expenditure_per_capita_PPP_USD$                      5400 non-null float64
Physicians_per_10000_population                             5580 non-null float64
Critical_Beds_per_10000_Population                          5580 non-null float64
Probability_of_Dying_between_30_70                          5580 non-null float64
Health_Access_Quality_Index_2016 (over 100)                 5580 non-null float64
Basic_Sanitization_Service_%People                          5400 non-null float64
Adult_Mortality_Rate_per_1000_population_2016 (per 1000)    5400 non-null float64
country_x                                                   5400 non-null object
population_under_15                                         5400 non-null float64
population_under_25                                         5400 non-null float64
population_25-64                                            5400 non-null float64
population_above_65                                         5400 non-null float64
index                                                       5580 non-null object
country_y                                                   5580 non-null object
total_case                                                  5580 non-null int64
total_recovered                                             5580 non-null int64
total_death                                                 5580 non-null int64
daily_cases                                                 5580 non-null float64
daily_recovered                                             5580 non-null float64
daily_death                                                 5580 non-null float64
stability                                                   5580 non-null float64
existing_case                                               5580 non-null int64
recovered_rate                                              5580 non-null float64
death_rate                                                  5580 non-null float64
census_fips_code                                            157 non-null float64
retail_and_recreation_percent_change_from_baseline          4665 non-null float64
grocery_and_pharmacy_percent_change_from_baseline           4665 non-null float64
parks_percent_change_from_baseline                          4665 non-null float64
transit_stations_percent_change_from_baseline               4665 non-null float64
workplaces_percent_change_from_baseline                     4665 non-null float64
residential_percent_change_from_baseline                    4665 non-null float64
C1_School closing                                           5534 non-null float64
C1_Flag                                                     4025 non-null float64
C2_Workplace closing                                        5534 non-null float64
C2_Flag                                                     3605 non-null float64
C3_Cancel public events                                     5533 non-null float64
C3_Flag                                                     4165 non-null float64
C4_Restrictions on gatherings                               5534 non-null float64
C4_Flag                                                     3487 non-null float64
C5_Close public transport                                   5533 non-null float64
C5_Flag                                                     2437 non-null float64
C6_Stay at home requirements                                5534 non-null float64
C6_Flag                                                     3302 non-null float64
C7_Restrictions on internal movement                        5534 non-null float64
C7_Flag                                                     3380 non-null float64
C8_International travel controls                            5534 non-null float64
E1_Income support                                           5524 non-null float64
E1_Flag                                                     3218 non-null float64
E2_Debt/contract relief                                     5524 non-null float64
E3_Fiscal measures                                          5521 non-null float64
E4_International support                                    5522 non-null float64
H1_Public information campaigns                             5523 non-null float64
H1_Flag                                                     4905 non-null float64
H2_Testing policy                                           5528 non-null float64
H3_Contact tracing                                          5523 non-null float64
H4_Emergency investment in healthcare                       5522 non-null float64
H5_Investment in vaccines                                   5517 non-null float64
M1_Wildcard                                                 0 non-null float64
StringencyIndex                                             5534 non-null float64
StringencyIndexForDisplay                                   5553 non-null float64
StringencyLegacyIndex                                       5534 non-null float64
StringencyLegacyIndexForDisplay                             5553 non-null float64
GovernmentResponseIndex                                     5523 non-null float64
GovernmentResponseIndexForDisplay                           5544 non-null float64
ContainmentHealthIndex                                      5523 non-null float64
ContainmentHealthIndexForDisplay                            5544 non-null float64
EconomicSupportIndex                                        5524 non-null float64
EconomicSupportIndexForDisplay                              5545 non-null float64
Total tests                                                 1474 non-null float64
dtypes: float64(65), int64(5), object(5)
memory usage: 3.2+ MB

In [22]:
df_final = df_final.merge(df_nurses, how='left', left_on='Country', right_on='CountryName')
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 663480 entries, 0 to 663479
Data columns (total 77 columns):
Country                                                     663480 non-null object
Class                                                       663480 non-null object
Population_Density_per_sq_km                                640440 non-null float64
Population_2019                                             663480 non-null int64
Life_Expectancy_years                                       640440 non-null float64
Health_Expenditure_per_GDP                                  640440 non-null float64
Health_Expenditure_per_capita_PPP_USD$                      640440 non-null float64
Physicians_per_10000_population                             663480 non-null float64
Critical_Beds_per_10000_Population                          663480 non-null float64
Probability_of_Dying_between_30_70                          663480 non-null float64
Health_Access_Quality_Index_2016 (over 100)                 663480 non-null float64
Basic_Sanitization_Service_%People                          640440 non-null float64
Adult_Mortality_Rate_per_1000_population_2016 (per 1000)    640440 non-null float64
country_x                                                   640620 non-null object
population_under_15                                         640620 non-null float64
population_under_25                                         640620 non-null float64
population_25-64                                            640620 non-null float64
population_above_65                                         640620 non-null float64
index                                                       663480 non-null object
country_y                                                   663480 non-null object
total_case                                                  663480 non-null int64
total_recovered                                             663480 non-null int64
total_death                                                 663480 non-null int64
daily_cases                                                 663480 non-null float64
daily_recovered                                             663480 non-null float64
daily_death                                                 663480 non-null float64
stability                                                   663480 non-null float64
existing_case                                               663480 non-null int64
recovered_rate                                              663480 non-null float64
death_rate                                                  663480 non-null float64
census_fips_code                                            19939 non-null float64
retail_and_recreation_percent_change_from_baseline          572830 non-null float64
grocery_and_pharmacy_percent_change_from_baseline           572830 non-null float64
parks_percent_change_from_baseline                          572830 non-null float64
transit_stations_percent_change_from_baseline               572830 non-null float64
workplaces_percent_change_from_baseline                     572830 non-null float64
residential_percent_change_from_baseline                    572830 non-null float64
C1_School closing                                           658772 non-null float64
C1_Flag                                                     479543 non-null float64
C2_Workplace closing                                        658772 non-null float64
C2_Flag                                                     447630 non-null float64
C3_Cancel public events                                     658645 non-null float64
C3_Flag                                                     501235 non-null float64
C4_Restrictions on gatherings                               658772 non-null float64
C4_Flag                                                     417139 non-null float64
C5_Close public transport                                   658645 non-null float64
C5_Flag                                                     299788 non-null float64
C6_Stay at home requirements                                658772 non-null float64
C6_Flag                                                     397172 non-null float64
C7_Restrictions on internal movement                        658772 non-null float64
C7_Flag                                                     410229 non-null float64
C8_International travel controls                            658772 non-null float64
E1_Income support                                           657502 non-null float64
E1_Flag                                                     380837 non-null float64
E2_Debt/contract relief                                     657502 non-null float64
E3_Fiscal measures                                          657121 non-null float64
E4_International support                                    657248 non-null float64
H1_Public information campaigns                             657375 non-null float64
H1_Flag                                                     590471 non-null float64
H2_Testing policy                                           658010 non-null float64
H3_Contact tracing                                          657375 non-null float64
H4_Emergency investment in healthcare                       657247 non-null float64
H5_Investment in vaccines                                   656613 non-null float64
M1_Wildcard                                                 0 non-null float64
StringencyIndex                                             658772 non-null float64
StringencyIndexForDisplay                                   660681 non-null float64
StringencyLegacyIndex                                       658772 non-null float64
StringencyLegacyIndexForDisplay                             660681 non-null float64
GovernmentResponseIndex                                     657375 non-null float64
GovernmentResponseIndexForDisplay                           659538 non-null float64
ContainmentHealthIndex                                      657375 non-null float64
ContainmentHealthIndexForDisplay                            659538 non-null float64
EconomicSupportIndex                                        657502 non-null float64
EconomicSupportIndexForDisplay                              659665 non-null float64
Total tests                                                 172055 non-null float64
CountryName                                                 663120 non-null object
Nurses_per_10000                                            663120 non-null float64
dtypes: float64(66), int64(5), object(6)
memory usage: 394.8+ MB

In [23]:
df_final['Population_over_65_ratio'] = df_final['population_above_65'] / df_final['Population_2019']

In [24]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 663480 entries, 0 to 663479
Data columns (total 78 columns):
Country                                                     663480 non-null object
Class                                                       663480 non-null object
Population_Density_per_sq_km                                640440 non-null float64
Population_2019                                             663480 non-null int64
Life_Expectancy_years                                       640440 non-null float64
Health_Expenditure_per_GDP                                  640440 non-null float64
Health_Expenditure_per_capita_PPP_USD$                      640440 non-null float64
Physicians_per_10000_population                             663480 non-null float64
Critical_Beds_per_10000_Population                          663480 non-null float64
Probability_of_Dying_between_30_70                          663480 non-null float64
Health_Access_Quality_Index_2016 (over 100)                 663480 non-null float64
Basic_Sanitization_Service_%People                          640440 non-null float64
Adult_Mortality_Rate_per_1000_population_2016 (per 1000)    640440 non-null float64
country_x                                                   640620 non-null object
population_under_15                                         640620 non-null float64
population_under_25                                         640620 non-null float64
population_25-64                                            640620 non-null float64
population_above_65                                         640620 non-null float64
index                                                       663480 non-null object
country_y                                                   663480 non-null object
total_case                                                  663480 non-null int64
total_recovered                                             663480 non-null int64
total_death                                                 663480 non-null int64
daily_cases                                                 663480 non-null float64
daily_recovered                                             663480 non-null float64
daily_death                                                 663480 non-null float64
stability                                                   663480 non-null float64
existing_case                                               663480 non-null int64
recovered_rate                                              663480 non-null float64
death_rate                                                  663480 non-null float64
census_fips_code                                            19939 non-null float64
retail_and_recreation_percent_change_from_baseline          572830 non-null float64
grocery_and_pharmacy_percent_change_from_baseline           572830 non-null float64
parks_percent_change_from_baseline                          572830 non-null float64
transit_stations_percent_change_from_baseline               572830 non-null float64
workplaces_percent_change_from_baseline                     572830 non-null float64
residential_percent_change_from_baseline                    572830 non-null float64
C1_School closing                                           658772 non-null float64
C1_Flag                                                     479543 non-null float64
C2_Workplace closing                                        658772 non-null float64
C2_Flag                                                     447630 non-null float64
C3_Cancel public events                                     658645 non-null float64
C3_Flag                                                     501235 non-null float64
C4_Restrictions on gatherings                               658772 non-null float64
C4_Flag                                                     417139 non-null float64
C5_Close public transport                                   658645 non-null float64
C5_Flag                                                     299788 non-null float64
C6_Stay at home requirements                                658772 non-null float64
C6_Flag                                                     397172 non-null float64
C7_Restrictions on internal movement                        658772 non-null float64
C7_Flag                                                     410229 non-null float64
C8_International travel controls                            658772 non-null float64
E1_Income support                                           657502 non-null float64
E1_Flag                                                     380837 non-null float64
E2_Debt/contract relief                                     657502 non-null float64
E3_Fiscal measures                                          657121 non-null float64
E4_International support                                    657248 non-null float64
H1_Public information campaigns                             657375 non-null float64
H1_Flag                                                     590471 non-null float64
H2_Testing policy                                           658010 non-null float64
H3_Contact tracing                                          657375 non-null float64
H4_Emergency investment in healthcare                       657247 non-null float64
H5_Investment in vaccines                                   656613 non-null float64
M1_Wildcard                                                 0 non-null float64
StringencyIndex                                             658772 non-null float64
StringencyIndexForDisplay                                   660681 non-null float64
StringencyLegacyIndex                                       658772 non-null float64
StringencyLegacyIndexForDisplay                             660681 non-null float64
GovernmentResponseIndex                                     657375 non-null float64
GovernmentResponseIndexForDisplay                           659538 non-null float64
ContainmentHealthIndex                                      657375 non-null float64
ContainmentHealthIndexForDisplay                            659538 non-null float64
EconomicSupportIndex                                        657502 non-null float64
EconomicSupportIndexForDisplay                              659665 non-null float64
Total tests                                                 172055 non-null float64
CountryName                                                 663120 non-null object
Nurses_per_10000                                            663120 non-null float64
Population_over_65_ratio                                    640620 non-null float64
dtypes: float64(67), int64(5), object(6)
memory usage: 399.9+ MB

In [25]:
#all complete data
df_final.to_csv('pipeline_v2.csv')

In [30]:
#only time series data
df.to_csv("pipeline_covid_stringency.csv")